<script type="text/javascript">

	var language = "en";
	var name = "Flask";
	var version = "0.10.1";

$(document).ready(function() {
	loadPage(language, name, version);
});

var loadPage = function(language, name, version) {

	var tableofcontents = [];
	var url = 'api/' + language + '/' + name + '/' + version;

	$.getJSON(url, function(data) {


		$("#welcome").html(
			"<h2>" + data.title + "</h2>" + 
			"<span class='byline'>" + data.description + "</span>"
		);


		/** Creates list element for each section. Populates lists with
		  * names of each subsection. Add html text to an array. */
		var maxSections = data.sections.length;
		for (var curSection = 0; curSection < maxSections; curSection++) {

			var currentlist = 
				"<li><h2>" 
					+ data.sections[curSection].title 
						+ "</h2></br></br>";

			var maxSubSections = data.sections[curSection].content.length;
			for (var curSubSection = 0; curSubSection < maxSubSections; curSubSection++)
				currentlist += 
					"<p><h3>" +
						data.sections[curSection].content[curSubSection].title 
							+ "</h3></br>"
								+ data.sections[curSection].content[curSubSection].text
									+"</br></br></p>";

			currentlist += "</li>";
			tableofcontents.push(currentlist);
		}


		var maxToC = tableofcontents.length;
		var str = "<ul class='style1'>";
		for (var i = 0; i < maxToC; i++) {
			str += tableofcontents[i];
		}
		str += "</ul>";

		$("#featured").html(str);
	});	

var updatePage = function(newLanguage) {
	loadPage(newLanguage, name, version);
};
};

</script>

<div id="welcome"class="title"></div>
<div id="featured"></div>

<div id="languagemenu">
    {% block translationmenu %}
        {% include "translationmenu.html" %}
    {% endblock translationmenu %}
</div>