<script type="text/javascript">
	$(document).ready(function() {

		// Populating drop down menu
		$.getJSON('languages/', function(data) {
			$.each(data, function(key, value) {
				$("#languages").append("<option value='" + key + "'>" + value + "</option>");
			});
		});

	});

	var translatePage = function(){
		$("#languagemenu").hide();

		var newLang = $("#languages").val();

		loadPage(newLang, name, version);

	};
</script>

<div>
	<h2 id="languagemenutitle">Select language</h2>
	<form id="languagebox" action="alert('done');">
		<select name="languages" id="languages"></select>
	</form>
	<input id="applybutton" type="button" value="APPLY" class="button" onclick="translatePage();">
</div>